.banner{
    background-image: url(../../Assest/man-sefty.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.banner-content{
    background-color: rgba(0,0, 0,0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
}
.banner h2{
    font-size: 40px;
    color: white;

}
form{
    margin: 15px;
} 